<p><%= @restaurant.name %></p>
<p><%= @restaurant.descriptions %></p>
<%= image_tag @restaurant.image.url(:medium) %>
<% if @restaurant.reviews.any? %>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.thoughts %>, <strong><%= review.rating %></strong>/5
      </li>
      <p><%= link_to "Delete Review", review_path(review), method: :delete if current_user == review.user %></p>
    <% end %>
  </ul>
<% else %>
  <p>No reviews.</p>
<% end %>
